{{ define "app" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Itss_SMAC" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>SnipBook</title>
    </head>
    <body>
        <main>
            {{ template "Content" .}}
        </main>
        <footer>
            <p class="footer-text">
                © 2026 LINAM. All rights reserved.
            </p>
            <p class="footer-author">
                Developed by Itss_SMAC.
            </p>
        </footer>
    </body>

</html>
